<mat-card style="margin-top: 20px">
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLinkActive="active" [routerLink]="['/home']">
      <mat-icon mat-list-icon>home</mat-icon>
      Home
    </button>
    <button mat-list-item routerLinkActive="active" [routerLink]="['/user-profile']">
      <mat-icon mat-list-icon>face</mat-icon>
      Profile
    </button>
    <button mat-list-item *ngIf="isSuperAdmin() || isAdmin()" routerLinkActive="active" [routerLink]="['/all-user']">
      <mat-icon mat-list-icon>manage_accounts</mat-icon>
      All User
    </button>
    <button mat-list-item routerLinkActive="active" [routerLink]="['/categories']">

      <mat-icon mat-list-icon>list</mat-icon>
      Categories
    </button>
    <button routerLinkActive="active" [routerLink]="['/quiz']" mat-list-item>
      <mat-icon mat-list-icon>quiz</mat-icon>
      Quizzes
    </button>
    <button (click)="logout()" *ngIf="currenUser?.id" mat-list-item>
      <mat-icon mat-list-icon>logout</mat-icon>
      Log out
    </button>
    <button mat-list-item *ngIf="!isSuperAdmin() && !isAdmin()" routerLinkActive="active"
            [routerLink]="['/list',currenUser.id]">
      <mat-icon mat-list-icon></mat-icon>
      QuizHistory
    </button>
  </mat-action-list>
  <header id="header">
    <div class="container-fluid">
      <button type="button" class="nav-toggle"><i class="bx bx-message btn btn-lg btn-outline-primary"
                                                  (click)="open(content)"></i></button>
    </div>
  </header>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <label for="connect">Status :</label>
          <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">
            Connect
          </button>
          <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled"
                  (click)="disconnect()">Disconnect
          </button>
        </div>
        <div class="col-md-9">
          <mat-card>
            <mat-card-content>
              <tr>
                <th>Show Chat's:</th>
              </tr>
              <table id="conversation" class="table table-striped" style="margin-top: 20px;">
                <tbody>
                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                  <div *ngFor="let greeting of greetings" class="example-item">{{greeting}}</div>
                </cdk-virtual-scroll-viewport>
                </tbody>
              </table>

              <form class="form-inline" style="margin-top: 20px;">
                <div class="form-group">
                  <label for="name">User Name : </label>
                  <input
                    type="text" id="name"
                    name="name"
                    matInput
                    class="form-control"
                    [(ngModel)]="user.name">
                </div>
              </form>
              <form style="margin-top: 20px;">
                <div class="form-group">
                  <label for="name"> Comment's : </label>
                  <textarea
                    type="text"
                    name="name"
                    matInput
                    class="form-control"
                    [(ngModel)]="message"></textarea>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="send" type="button" class="btn btn-outline-dark" (click)="sendName()">Send</button>
    </div>
  </ng-template>
</mat-card>

