<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <!--    main content-->
    <div class="col-md-10">
      <!--      search-->
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Search Quiz</mat-label>
          <input matInput placeholder="Enter here" [(ngModel)]="searchText">
        </mat-form-field>
      </div>
      <div *ngIf="quizzes.length < 1" class="alert alert-info">No data.</div>
      <mat-card class="mt-3 mr-3" *ngFor="let q of quizzes | quizFilter : searchText">
        <mat-card-header>
          <div mat-card-avatar class="exam-header-image"></div>
          <mat-card-title>
            {{q.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{q.category?.title}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{q.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button *ngIf="isAdmin()"
                  [routerLink]="['/view-questions/',q.qId,q.title]"
          >Questions
          </button>
          <button mat-stroked-button>Max Marks {{q.maxMarks}}</button>
          <button mat-stroked-button>Number of questions {{q.numberOfQuestions}}</button>
          <button *ngIf="isAdmin()" routerLinkActive="active" [routerLink]="['/edit-quiz',q.qId]" mat-stroked-button
                  style="margin-left: 20px">Update
          </button>
          <button (click)="startQuiz(q.qId)" mat-stroked-button style="margin-left: 20px">Start Quiz</button>
          <button *ngIf="isAdmin()" routerLinkActive="active" mat-stroked-button style="margin-left: 20px"
                  (click)="deleteQuiz(q.qId)">Delete Quiz
          </button>
        </mat-card-actions>
      </mat-card>

      <div class="container text-center mt-3">
        <button *ngIf="isAdmin()"
                routerLinkActive="active" [routerLink]="['/add-quiz']" mat-raised-button>Add New Quiz
        </button>
      </div>
    </div>
  </div>
</div>
