<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
      <div>
        <h1>Show All Quizzes</h1>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search Quiz By Name:</mat-label>
          <input matInput placeholder="Enter here" [(ngModel)]="searchText">
        </mat-form-field>
      </div>
      <div class="container text-center mt-3">
        <button *ngIf="isAdmin()"
                routerLinkActive="active" [routerLink]="['/add-quiz']" mat-raised-button color="primary">Add New Quiz
        </button>
      </div>
      <div *ngIf="quizzes.length < 1" class="alert alert-info">No data.</div>
      <mat-card class="mt-3 mr-3" *ngFor="let q of quizzes | quizFilter : searchText">
        <mat-card-header>
          <div mat-card-avatar class="exam-header-image"></div>
          <mat-card-title>
            {{q.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{q.category?.title}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{q.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button *ngIf="isAdmin()"
                  [routerLink]="['/view-questions/',q.qId,q.title]" color="primary">Questions
          </button>

          <button  mat-button>Max Marks {{q.maxMarks}}</button>

          <button  mat-button>Number of questions {{q.numberOfQuestions}}</button>

          <button mat-stroked-button [matMenuTriggerFor]="menu" color="accent" *ngIf="isAdmin()">Menu</button>
          <mat-menu #menu="matMenu" >
            <div>
              <button  routerLinkActive="active" [routerLink]="['/edit-quiz',q.qId]" mat-stroked-button
                      style="margin-left: 20px">Update
              </button>
            </div>
            <br>
            <div>
              <button  routerLinkActive="active" mat-stroked-button style="margin-left: 20px"
                      (click)="deleteQuiz(q.qId)">Delete Quiz
              </button>
            </div>

          </mat-menu>
          <button (click)="startQuiz(q.qId)" mat-stroked-button style="margin-left: 20px" color="primary">Start Quiz</button>

        </mat-card-actions>
      </mat-card>

    </div>
  </div>

</div>
