<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-md-2">-->
<!--      <app-sidebar></app-sidebar>-->
<!--    </div>-->

<!--    <div class="col-md-10">-->

<!--      <mat-card>-->
<!--        <h1 >Add New Category</h1>-->
<!--        <mat-card-content>-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 offset-md-3">-->

<!--              <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" method="post">-->

<!--                <mat-form-field class="w-100" appearance="fill">-->
<!--                  <mat-label>Title</mat-label>-->
<!--                  <input-->
<!--                    type="text"-->
<!--                    name="title"-->
<!--                    matInput-->
<!--                    placeholder="Enter here"-->
<!--                    formControlName="title"-->
<!--                    required>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field class="w-100" appearance="fill">-->
<!--                  <mat-label>Description</mat-label>-->
<!--                  <textarea-->
<!--                    name="description"-->
<!--                    matInput-->
<!--                    placeholder="Enter category description"-->
<!--                    rows="15"-->
<!--                    formControlName="description"-->
<!--                    required>-->
<!--                  </textarea>-->
<!--                </mat-form-field>-->

<!--                <div class="container text-center">-->
<!--                  <button mat-raised-button>Edit</button>-->
<!--                </div>-->

<!--              </form>-->
<!--            </div>-->
<!--          </div>-->


<!--        </mat-card-content>-->
<!--      </mat-card>-->



<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Edit Book</h2>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="col-lg-12 col-md-7">
      <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" method="post"  >
        <div class="form-group mt-3" hidden>
          <input type="text" class="form-control" formControlName="cid"   >
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" formControlName="title"   >
        </div>
        <div class="form-group mt-3">
          <textarea type="text" class="form-control" formControlName="description"   cols="5"></textarea>
        </div>
        <div class="text-center"><button >Edit</button></div>
      </form>
    </div>
  </div>
</section>

