<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mt-3">Reset Your Password !!</h1>
      <form #f="ngForm" (ngSubmit)="f.form.valid">

        <!--        username field-->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput placeholder="Enter your username"
            type="text"
            id="username"
            name="username"
            [(ngModel)]="emailUser.username"
            #username="ngModel"
            required
            minlength="6"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="!username.valid &&(username?.dirty||username?.touched)" style="margin-bottom: 20px">
          Username is required,minlength=6
        </div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput placeholder="Enter your email"
            type="text"
            id="email"
            name="email"
            [(ngModel)]="emailUser.email"
            #email="ngModel"
            required
            required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <div class="alert-danger" *ngIf="!email.valid &&(email?.dirty||email?.touched)" style="margin-bottom: 20px">
          Email not match
        </div>


        <div class="container text-center ">
          <button mat-raised-button color="primary" type="submit" w-100 mt-2 (click)="resetPassword()">Reset</button>
        </div>

      </form>
    </div>
  </div>
</div>
