<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
      <mat-card>
        <mat-card-content>
          <div class="bootstrap-wrapper">
            <div class="container">
              <div class="container text-center">
                <img
                  src="https://cdn.tgdd.vn/hoi-dap/1250353/Thumbnail/che-do-tab-an-danh-la-gi-cach-bat-tat-tren-trinh-duyet-th.jpg"
                  alt=""
                  class="profile-image"
                />
                <h1 class="mt20">User Profile</h1>
              </div>
              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <table class="table text-center">
                    <tr>
                      <td>Username</td>
                      <td>{{user.username}}</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td>{{user.name}}</td>
                    </tr>
                    <tr>
                      <td>role</td>
                      <td>{{user.role}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-button color="primary" >Update</button>
          <button mat-raised-button color="accent" [routerLink]="['/user-profile/changepassword']">Change Password</button>

        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
