<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 mt-3">
      <mat-card>
        <h1>Change the password</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <form (ngSubmit)="changePassword()">
                <!--              old password-->
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Enter Old Password</mat-label>
                  <input name="newPassword"
                         type="password"
                         [(ngModel)]="userChangePassword.oldPassword"
                         placeholder="Enter Here" matInput
                         required>
                </mat-form-field>
                <!--              new password-->
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Enter New Password</mat-label>
                  <input name="newPassword"
                         type="password"
                         [(ngModel)]="userChangePassword.newPassword"
                         placeholder="Enter Here" matInput
                         required>
                </mat-form-field>
                <div class="container text-center">
                  <button mat-raised-button>Update Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>


