<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <section id="why-us" class="why-us section-bg">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
              <div class="card">
                <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
                <div class="card-icon">
                  <i class="bx bx-book-reader"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="https://mastermedia.vn/8-meo-chuan-bi-tam-ly-giup-ban-vung-buoc-vao-ky-thi/" target="_blank">Nhắc Bạn</a></h5>
                  <p class="card-text">Sự vững vàng bởi tâm lí cũng rất quan trong trong quá trình làm bài thi,để bản thân các bạn đạt được kết quả đáng mong muốn ,chúng tôi dành tặng bạn một số lưu ý nhỏ nhé .hãy sử dụng nó thật hữu ích-Chúc May Mắn </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
              <div class="card">
                <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
                <div class="card-icon">
                  <i class="bx bx-calendar-edit"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="https://brands.vn/phat-trien-ky-nang-lam-viec-nhom/" target="_blank">Kĩ Năng TeamWork</a></h5>
                  <p class="card-text">Muốn đi nhanh thì đi một mình -Muốn đi xa thì đi cùng đồng đội .Hãy xác định mục đích của bạn một cách rõ ràng để cùng chúng tôi đưa bạn tới đỉnh cao của kiên thức bước đi trên con đường các bạn chọn nhé -Chúc May Mắn</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Why Us Section -->
    </div>
  </div>

</div>

